.root {
  .container {
    .header {
    }
    .table {
      margin-left: 50px;
      margin-top: 40px;
      border: 2px solid black;
      background-color: #f0f0f0;
      width: 40vw;
      tr {
        border: 2px solid black;
        th {
          border: 2px solid black;
        }
      }
      tr {
        border: 2px solid black;
        .postTitle {
          color: blue;
          cursor: pointer;
        }
        td {
          border: 2px solid black;
        }
      }
    }
  }
}
